version: '3.7'

services:
  app:
    image: {{ cookiecutter.docker_registry_url }}/{{ cookiecutter.project_slug }}:{{ cookiecutter.version }}
    container_name: {{ cookiecutter.project_slug }}
    volumes:
      - ./synced:/synced
